<h2> Friend Requests</h2>
<ul class="list-unstyled" ng-repeat=" friendRequest in friendsList.friendRequests">
	<li class="inline">
		<img class="profilePic" ng-src="{{friendRequest.profilepicture}}" ng-hide='!friendRequest.profilepicture' alt='{{friendRequest.username}}'/>
		<a class="btn btn-success" ng-click="friendsList.acceptFriendRequest(friendRequest._id)">Accept</a>
		<br>
		<span ng-show="friendRequest.username">
			<a href='/#/profile/{{friendRequest._id}}'>{{friendRequest.username}}</a>
		</span>
	</li>
</ul>

<h2> Find Friends </h2>
<ul class="list-unstyled" ng-repeat=" user in friendsList.users">
	<li class="inline" ng-hide="friendsList.haveRequest(user._id) || friendsList.isFriend(user._id)">
		<img class="profilePic" ng-src="{{user.profilepicture}}" ng-hide='!user.profilepicture' alt='{{user.username}}'/>
		<a class="btn btn-primary" ng-click="friendsList.sendFriendRequest(user._id)" ng-hide="friendsList.isPending(user.pendingRequests) || friendsList.haveRequest(user._id)">
			Add Friend
		</a>
		<a class="btn btn-primary" ng-show="friendsList.isPending(user.pendingRequests)">
			Friend Request Sent
		</a>
		<a class="btn btn-danger" ng-click="friendsList.cancelFriendRequest(user._id)" ng-show="friendsList.isPending(user.pendingRequests)">
			Cancel
		</a>
		<br>
		<span ng-show="user.username">
			<a href='/#/profile/{{user._id}}'>{{user.username}}</a>
		</span>

	</li>
</ul>

<div class="container">
	<h1>Friends</h1>
	<br>
	<ul class="img-list" ng-repeat="friend in friendsList.friends">
		<li>
			<img class="friendPic" ng-src="{{friend.profilepicture}}" ng-hide='!friend.profilepicture' alt='{{friend.username}}'/>
			<span class="friends">
				<a class="btn btn-default" href="#/profile/{{friend._id}}">{{friend.username}}</a>
				<br>
				<a class="btn btn-danger" ng-click="friendsList.deleteFriend(friend._id)">Delete</a>
			</span>

		</li>
	</ul>
</div>