<h2> Friend Requests</h2>
<ul class="list-unstyled" ng-repeat=" friendRequest in friendsList.friendRequests">
	<li class="inline">
		<strong>{{friendRequest.username}}</strong>
		<a class="btn btn-success" ng-click="friendsList.acceptFriendRequest(friendRequest._id)">Accept</a>
	</li>
</ul>

<h2> Find Friends </h2>
<ul class="list-unstyled" ng-repeat=" user in friendsList.users">
	<li class="inline" ng-hide="friendsList.haveRequest(user._id) || friendsList.isFriend(user._id)">
		<img class="profilePic" ng-src="{{user.profilepicture}}" ng-hide='!user.profilepicture' alt='{{user.username}}'/>
		<span ng-show="user.username">
			<a>{{user.username}}</a>
		</span>
		<a class="btn btn-primary" ng-click="friendsList.sendFriendRequest(user._id)" ng-hide="friendsList.isPending(user.pendingRequests) || friendsList.haveRequest(user._id)">
			Add Friend
		</a>
		<a class="btn btn-primary" ng-show="friendsList.isPending(user.pendingRequests)">
			Friend Request Sent
		</a>
		<a class="btn btn-danger" ng-click="friendsList.cancelFriendRequest(user._id)" ng-show="friendsList.isPending(user.pendingRequests)">
			Cancel
		</a>
	</li>
</ul>

<h2> Friends </h2>
<ul class="list-unstyled" ng-repeat=" friend in friendsList.friends">
	<li class="inline">
<!-- 		<a class="btn btn-default" href="#/{{friend.username}}" role="button"><strong>{{friend.username}}</strong>
		</a> -->
		<img class="profilePic" ng-src="{{friend.profilepicture}}" ng-hide='!friend.profilepicture' alt='{{friend.username}}'/>
		<span ng-show="friend.username">
			<a>{{friend.username}}</a>
		</span>
		<a class="btn btn-danger" ng-click="friendsList.deleteFriend(friend._id)">
			Delete
		</a>
	</li>
</ul>