<div class='flavors'>
	<div ng-show="isLoggedIn()">

		<div ng-include src="'views/_partials/_addFlavor.html'"></div>

		<div ng-include src="'views/_partials/_flavors.html'"></div>

	</div>
</div>

<!--  <div class="outer">
 	<div class="inner">
 		<div class="inner-inner">
 		</div>
 		<div class="inner-inner">
 		</div>
 		<div class="inner-inner">
 		</div>
 		<div class="inner-inner">
 		</div>

 		<div class="inner-inner" ng-repeat="flavor in flavors| orderBy:'date': true | filter: false |limitTo: 4">
 			<img ng-src="{{flavor.picture}}" ng-hide='!flavor.picture' alt='{{flavor.picture}}'/>
 		</div>
 	</div>
 </div> -->
