<div class="profile-flavors">
	<h1>Flavors</h1>
	<br>
	<ul class="img-list" ng-repeat="flavor in flavors| orderBy:'date': true">
		<li ng-hide="!flavor.picture">
			<a href="#/flavors/{{flavor._id}}">
				<img class="user-flavor-photo" ng-src="{{flavor.picture}}" ng-hide='!flavor.picture' alt='{{flavor.picture}}'/>
				<span class="text-content user-flavor-photo"><span>{{flavor.title}}</span></span>
			</a>
		</li>
	</ul>
</div>

<!-- <a ui-sref="profile.flavors"><h3>Flavors</h3></a>
<ul class="img-list" ng-repeat="flavor in flavors| orderBy:'date': true | filter: false |limitTo: 4">
	<li click-popup="flavorScope" id='flavorLi' ng-hide="!flavor.picture">
		<img class="previewFlavorPicture" ng-src="{{flavor.picture}}" ng-hide='!flavor.picture' alt='{{flavor.picture}}'/>
		<span class="smallFlavorPic"><span>{{flavor.title}}</span></span>
	</li>
	<div class="previewFlavorPopup">
		<div ng-include src="'views/_partials/_flavorPopup.html'"></div>
	</div>
</ul>	 -->