<div class="flavor-container">
	<div class="userInfo">
		<h2 id="username">{{user.username}}</h2>
	</div>
	<div class="flavorsPreview">
		<a ui-sref="profile.flavors"><h3>Flavors</h3></a>
		<ul class="img-list" ng-repeat="flavor in flavors| orderBy:'date': true | filter: false |limitTo: 4">
			<li click-popup="flavorScope" id='flavorLi' ng-hide="!flavor.picture">
				<img class="previewFlavorPicture" ng-src="{{flavor.picture}}" ng-hide='!flavor.picture' alt='{{flavor.picture}}'/>
				<span class="smallFlavorPic"><span>{{flavor.title}}</span></span>
			</li>
			<div class="previewFlavorPopup">
				<div ng-include src="'views/_partials/_flavorPopup.html'"></div>
			</div>
		</ul>	
	</div>
	<div class='flavors'>
		<div ng-show="isLoggedIn()">
			<div ng-include src="'views/_partials/_addFlavor.html'"></div>
			<div ng-include src="'views/_partials/_flavors.html'"></div>
		</div>
	</div>
</div>

	

