<div class="container">
	<div class="row">
		<div id="blue">
			<div id="image">
				<a href="javascript:myBlurFunction(1);" />
					<div id="hoverpic">Upload Picture</div>
				</a>
				<a ng-href="{{user.profilepicture}}">
					<img class="preview" src="/images/default.png" ng-hide='user.profilepicture'/>
					<img class="preview" ng-src="{{user.profilepicture}}" ng-hide='!user.profilepicture'/>		
				</a>
				<input type="file" id="file_input" style="visibility: hidden;" onchange="angular.element(this).scope().init_upload()"/>
			</div>
			<h2 id="username">{{user.username}}</h2>
		</div>
		<div id="white"></div>
	</div>
</div>

<div id="overlay">
	<div id="popup">
		<a href="javascript:myBlurFunction(0);">hide</a>
		<br>
		<a href= "#" onclick="document.getElementById('file_input').click(); return false;">Select Picture</a>
	</div>
</div>


