<div class="container">
	<div class="row">
		<div id="blue">
			<div id="image">
				<a ng-hide='user.temporaryProfile' href= "" onclick="document.getElementById('file_input').click(); return false;">
					<div id="hoverpic">Change Profile</div>
				</a>
				<div ng-hide='!user.temporaryProfile' id="hoverpicNew" >
					<div class='btn btn-danger'  ng-click="removePhoto()">Cancel</div>
					<div class='btn btn-success'  ng-click="init_upload()">Save</div>
				</div>
				<a ng-href="{{user.profilepicture}}">
					<img class="preview" src="/images/default.png" ng-hide='user.profilepicture'/>
					<img class="preview" ng-src="{{user.profilepicture}}" ng-hide='!user.profilepicture || user.temporaryProfile'/>
					<img class="preview" ng-src="{{user.temporaryProfile}}" ng-hide='!user.temporaryProfile'/>		
				</a>
				<input type="file" id="file_input" style="visibility: hidden;" onchange="angular.element(this).scope().readURL()"/>
			</div>
			<h2 id="username">{{user.username}}</h2>
		</div>
		<div id="white"></div>
	</div>
</div>


<!-- 
<a href="javascript:myBlurFunction(1);" />
<div id="overlay">
	<div id="popup">
		<a href="javascript:myBlurFunction(0);">hide</a>
		<br>
		<a href= "#" onclick="document.getElementById('file_input').click(); return false;">Select Picture</a>
	</div>
</div> -->


