<div ng-show="error" class="alert alert-danger">
	<span>{{ error }}</span>
</div>

<form class="add-flavor" ng-submit='addFlavor()'>
	<img class="flavor-profile-picture" ng-src="{{user.profilepicture}}" ng-hide='!user.profilepicture' alt='{{user.profilepicture}}'/>
	<textarea ng-model="title" placeholder='Post new Flavor'></textarea>
	<br>
	<a href="#" onclick="document.getElementById('file_input').click(); return false;" />
		<div class="upload-photo">Upload Picture</div>
	</a>
	<div class="btn btn-default" ng-click="removePhoto()" ng-hide='!temporaryPicture'>X</div>
	<img class='preview-flavor-picture' ng-src="{{temporaryPicture}}" ng-hide='!temporaryPicture'/>
	<input type="file" id="file_input" style="visibility: hidden;" onchange="angular.element(this).scope().readURL('temporaryPicture')"/>
	<div class="post-flavor-button">
		<button class="btn btn-primary"type="submit">Post Flavor</button>
	</div>
</form>
<br>